<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheet/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
	<title>PONG</title>
	<script type="text/javascript">
	</script>
</head>
<body onload="main()" onkeydown="controles()">
<form class="form-horizontal formulario" action="/agregar" method="post">
	<div class="form-group">
    	<label for="nombre"><h2>Digite un nombre:</h2></label>
    	<input type="text" class="form-control input-lg" name="nombre" id="nombre" placeHolder="ingrese su nombre">
    </div>
   	<button class="btn btn-default">Enviar</button>
</form>
</body>
</html>
