<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheet/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
	<title>PONG</title>
	<script type="text/javascript">

	function crearusuario() {
		document.cookie="usuariopong=" + document.getElementById('nombre').value;
		alert("cookie creada: " + document.cookie)
	}
	// javascript:document.cookie = "usuariopong=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
	</script>
</head>
<body >
<form onsubmit="crearusuario()" class="form-horizontal centrado" action="/agregar" method="post">
	<div class="form-group">
    	<label for="nombre"><h2>Digite un nombre:</h2></label>
    	<input type="text" class="form-control input-lg" name="nombre" id="nombre" placeHolder="ingrese su nombre">
    </div>
   	<button class="btn btn-default">Enviar</button>
</form>
</body>
</html>
