<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheet/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
	<title>Lobby</title>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
	var socket = io();
	var usuariohome;
	function comprobarusuario() {
		if(document.cookie.indexOf("usuariopong") != -1)
		{
			document.body.style.display = "inherit";
			usuariohome =  document.cookie.substring(12);
			alert(usuariohome)
		} else
		{
			document.body.style.display = "none";
		}
	}
	socket.emit("peticion")
	socket.on("info", function (info) {
				var tabla = document.getElementById('tablajugadores');
				var usuarios = info.toString().split(",")
				for (var i = 0; i < usuarios.length; i++) {
					tabla.innerHTML += "<tr><td>" + usuarios[i] + "</td><td><form action=\"invitar\" method=\"post\"> <input type=\"hidden\" name=\"usuarioinv\" value=\""+ usuarios[i] +"\"><input type=\"hidden\" name=\"usuariohome\" value=\""+ usuariohome +"\"><button class=\"btn btn-link\">invitar</button></form></td>"
				};
})
	</script>
</head>
<body onload="comprobarusuario()">
	<table class="table-bordered table table-hover  table-condensed centrado" id="tablajugadores">
		<tr class="danger"><td>jugadores</td><td>invitar</td>	
	</table>
</body>
</html>
