.centrado{
	width:50%;
	margin-top: 15%;
	margin-left: 25%;
}
.invitacion
{
	position:absolute;
	top:0px;
	left:37.5%;
	padding: 5px;
	transition:top 1s;
	-webkit-transition:top 1s;
	-moz-transition:top 1s;
	-o-tranzition:top 1s;
	display:none;
}
#btnempezar{
	position:absolute;
	top: 200px;
	left: 200px;
}
